@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --marine: #02021b;
}

.bg-marine {
  background-color: var(--marine);
}

p {
  @apply mx-4 mt-4 mb-8 text-slate-800;
}

.title {
  @apply text-4xl font-semibold mt-4 mb-8 mx-2 text-slate-900;
}

.app-container {
  margin: 0 auto;
}

.img-icons {
  @apply w-32 h-32 rounded-full mx-4 my-2 p-[1px];
  object-fit: cover;
  max-width: 300px;
}

.bg-one-planet {
  @apply bg-gradient-to-r from-purple-400 to-violet-200;
}

.bg-frozen {
  @apply bg-gradient-to-r from-sky-400 to-sky-200;
}

.bg-jungles {
  @apply bg-gradient-to-r from-lime-400 to-lime-200;
}

.bg-forests {
  @apply bg-gradient-to-r from-green-400 to-green-200;
}

.bg-deserts {
  @apply bg-gradient-to-r from-amber-400 to-yellow-200;
}

.bg-fresh-water {
  @apply bg-gradient-to-r from-cyan-400 to-cyan-200;
}

.bg-coastal-seas {
  @apply bg-gradient-to-r from-emerald-400 to-sky-200;
}

.bg-high-seas {
  @apply bg-gradient-to-r from-sky-400 to-cyan-200;
}

.btn {
  @apply mx-4 px-6 py-2 border border-slate-900 rounded-md font-semibold;
}

.btn:hover {
  background-color: var(--marine);
  color: white;
}

.dev-icons {
  max-width: 40px;
  padding: 4px;
}

.play-icon {
  position: absolute;
  max-width: 96px;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
}
